nav.bd-links li>a:active, .logo__title:hover, nav.bd-links li>a:hover {
    text-decoration: none;
  }
  html[data-theme=light]  {
    --pst-color-primary: #4d8eef;
      --pst-color-primary-highlight: #2d0ef1;
      --sd-color-primary: var(--pst-color-primary);
      --sd-color-primary-text: var(--pst-color-primary-text);
      --sd-color-primary-highlight: var(--pst-color-primary-highlight);
      --sd-color-primary-bg: #547fca;
      --sd-color-primary-bg-text: #14181e;
  
    --pst-color-secondary: #4d8eef;
     --pst-color-secondary-highlight: #2d0ef1;
     --sd-color-secondary: var(--pst-color-secondary);
     --sd-color-secondary-text: var(--pst-color-secondary-text);
    --sd-color-secondary-highlight: var(--pst-color-secondary-highlight);
      --sd-color-secondary-bg: #547fca;
      --pst-color-primary-bg: #84baf4;
      --pst-color-secondary-bg: #547fca;
      --pst-color-accent: #4d8eef;
      --pst-color-accent-bg: #92abd0;
  }
  .bd-sidebar-primary {
  /* 使元素可滚动 */
  overflow-y: scroll; /* 垂直滚动条 */
  overflow-x: hidden; /* 隐藏水平滚动条，如果不需要的话 */
  
  /* 隐藏滚动条但保持滚动功能 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 和 Edge */
  }
  
  .bd-sidebar-primary::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
  }
  .bd-sidebar-primary label.toctree-toggle {
  height: 20px;
  width: 20px;
  opacity: 0.8;
  }
  .navbar-brand:hover:hover, .navbar-brand:visited:hover:hover {
  text-decoration: none !important;
  }
  .bd-sidebar-primary label.toctree-toggle {
  height: 20px;
  width: 20px;
  }
  cite {
    font-style: normal;
  }
  