/* Customize for top bar (testing and outdated docs)*/

:target {
    scroll-margin-top: 50px;
}

.wy-nav-side
{
    min-height: calc(100% - 50px);
    top: 50px;
}

.wy-nav-content-wrap
{
    margin-top: 50px !important;
}

/* The navigation bar */
nav.navbar {
    z-index: 3;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
nav.navbar a {
    float: left;
    display: block;
    color: rgba(255,255,255,0.5);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-wrap: nowrap;
}

.jn_container-view {
    width: 100%;
    height: 50px;
    background: #0d0d0d;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1501;
}

.jn_menu-container {
    width: 100%;
    max-width: 1100px;
    height: 50px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    position: relative
}

.jn_menu-container .logo {
    width: 157px;
    height: 28px;
    background: url(img/logo.2f7049e2.svg) no-repeat 100%;
    background-size: auto 100%;
}

.jn_menu-container .menu-list {
    display: flex;
    height: 100%;
    font-size: 16px;
    color: rgba(255,255,255,0.4);
    margin-left: 78px;
    max-width: 506px;
}

.menu-list .menu-item {
    margin-right: 30px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    .menu-list .menu-item {
        margin-right: 0;
    }

    .jn_menu-container .menu-list {
        margin-left: 0;
        justify-content: space-around;
        flex-grow: 1;
    }

    nav.navbar a {
        padding: 3px;
    }
}

.jn_menu-container .menu-item.active a {
    color: #fff
}

.jn_menu-container .menu-item:last-child {
    margin-right: 0
}

.jn_menu-container .active,
.jn_menu-container .menu-item a:hover {
    color: #fff
}

.jn_menu-container .menu-lang {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 14px;
    color: hsla(0, 0%, 100%, .5);
    transform: translateY(-50%)
}

.jn_menu-container .menu-lang .lang-txt {
    height: 20px;
    padding-right: 28px;
    background: url(img/ch-flag.a61145a4.svg) no-repeat 100%;
    background-size: auto 70%;
    display: block;
    cursor: pointer
}

.menu-doc a {
    color: #f2f2f2 !important;
}

.model-list {
    position: absolute;
    top: 50px;
    background: #0d0d0d;
    display: none;
    cursor: pointer;
    flex-direction: column;
}

.menu-doc:hover > .model-list {
    display: flex;
    align-items: center;
}

.document-select {
    padding: 10px !important;
    color: #fff;
    text-align: start !important;
    text-wrap: wrap !important;
}

.document-select:hover {
    background-color: #249ee8 !important;
}

.expanded-menu {
    position: relative;
}
.expanded-menu-container {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -120px;
    width: 120px;
    background-color: #0d0d0d;
}
.expanded-menu:hover .expanded-menu-container {
    display: flex;
}
